extends layout

block title
  title 分类 —— 小当家
  
block content
  div(class="container")
    h4(class="text-center") 共有 #{ totalNum } 个结果
    hr
    div(class="card-columns")
      - for (var i = 0; i < data.result.data.length; i++)
        div(class="card")
          img(class="card-img-top" src=data.result.data[i].albums[0] alt="data.result.data[i].albums[0]")
          div(class="card-body")
            a(href=`/detail/${data.result.data[i].id}`)
              h5(class="card-title") #{data.result.data[i].title}
            //- p(class="card-text") #{ data.result.data[i].imtro }
            - for (var j = 0; j < data.result.data[i].tags.split(';').length; j++)
              span(class="badge badge-pill badge-info my-1" style="font-size: 1rem") #{ data.result.data[i].tags.split(';')[j] }
              | &nbsp;
    hr
    nav(aria-label="Page navigation example")
      ul(class="pagination justify-content-center")
        if pn === 0
          li(class="page-item disabled")
            a(class="page-link" href=`/category/${cid}/${pn}` tabindex="-1") 上一页
        else
          li(class="page-item")
            a(class="page-link" href=`/category/${cid}/${pn - 30}` tabindex="-1") 上一页
        if totalNumPage >= 20
          - for (var j = pn/30-2; j < (pn/30+3 > totalNumPage? totalNumPage: pn/30+3); j++)
            if pn/30 === j
              li(class="page-item active")
                a(class="page-link" href=`/category/${cid}/${pn}`) #{ j+1 }
                  span(class="sr-only") (current)
            else
              li(class="page-item")
                a(class="page-link" href=`/category/${cid}/${j * 30}`) #{ j+1 }    
        else
          - for (var i = 0; i < totalNumPage; i++)
            if pn/30 === i
              li(class="page-item active")
                a(class="page-link" href=`/category/${cid}/${i * 30}`) #{ i+1 }
                  span(class="sr-only") (current)
            else
              li(class="page-item")
                a(class="page-link" href=`/category/${cid}/${i * 30}`) #{ i+1 }    

        if pn === (i-1) * 30
          li(class="page-item disabled")
            a(class="page-link" href="#") 下一页
        else
          li(class="page-item")
            a(class="page-link" href=`/category/${cid}/${pn + 30}`) 下一页