extends layout

block content
  div(class="container")
    div(class="row")
      div(class="col-3 text-right")
        img(class="card-img-top rounded-circle" style="width: 10rem;" src=currentUser.avatar alt="Card image cap")
      div(class="col-6")
        h5(class="card-title") #{ currentUser.username }
        div(class="font-weight-light") #{ currentUser.account }
          if currentUser.gender === 1
              img(class="mx-1" src="/masculine.svg" alt="/masculine.svg" style="width: 1rem")
          else if currentUser.gender === 0
            img(class="mx-1" src="/femenine.svg" alt="/femenine.svg" style="width: 1rem")
          else
            span(class="font-weight-light") 未知性别
        div(class="font-weight-light")
          img(src="/envelope.svg" alt="/envelope.svg" style="width: 1rem")
          span(class="mx-1") #{ currentUser.email }
          if currentUser.confirmed
            span(class="badge badge-success") 已验证
          else 
            span(class="badge badge-danger") 未验证
        div(class="card-text")
          | 关注
          span(class="text-info") #{ currentUser.following ? currentUser.following.length: 0 } 
          | 粉丝
          span(class="text-info") #{ currentUser.followers ? currentUser.followers.length: 0}
          p #{ currentUser.intro }
          if !currentUser.confirmed
            div(class="alert alert-danger" role="alert") 未验证邮箱，请尽快验证！验证后请重新登录
      div(class="col-3")
        a(href=`/following?followingId=${currentUser.id}` class="btn btn-primary w-75") 关注
    hr
    div(class="row text-center")
      div(class="col")
        ul(class="nav nav-tabs" id="myTab" role="tablist")
          li(class="nav-item")
            a(class="nav-link active" id="collection-tab" data-toggle="tab" href="#collection" role="tab" aria-controls="collection" aria-selected="true") 收藏
          li(class="nav-item")
            a(class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false") 关注
          li(class="nav-item")
            a(class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false") 粉丝
        div(class="tab-content" id="myTabContent")
          div(class="tab-pane fade show active" id="collection" role="tabpanel" aria-labelledby="collection-tab")
            div(class="card-columns mt-4")
              if collections.length > 0
                - for (let i = 0; i < collections.length; i++)
                  div(class="card")
                    img(class="card-img-top" src=collections[i].albums alt="collections[i].albums")
                    div(class="card-body")
                      h5(class="card-title") #{ collections[i].title }
                      div(class="row")
                        if removeVisiable
                          div(class="col")
                            a(href=`/detail/${collections[i].id}` class="btn btn-success") 查看
                          div(class="col")
                            input(id=`menuId${i}` type="hidden" name="menuId" value=collections[i].id)
                            input(id=`remove${i}` type="button" class="btn btn-danger" value="移除" onclick='$.ajax({url: "http://localhost:3000/usermenus", method: "DELETE", data: { userId: ' + currentUser.id + ', menuId: ' + collections[i].id + '} } ).done(function() { $("#remove' + i + '").parent().parent().parent().parent().remove(); });')
                        else
                          div(class="col")
                            a(href=`/detail/${collections[i].id}` class="btn btn-success") 查看
              else 
                p 没有收藏

          div(class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab") 
            div(class="card-columns mt-4 w-50")
              if currentUser.following.length > 0
                - for (let i = 0; i < currentUser.following.length; i++)
                  div(class="card")
                    img(class="card-img-top" src=currentUser.following[i].avatar alt="currentUser.following[i].avatar")
                    div(class="card-body")
                      h5(class="card-title") #{ currentUser.following[i].username }
                      a(class="btn btn-success" href=`/user/${currentUser.following[i].id}`) 查看
              else
                p 没有关注的人

          div(class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab")
            div(class="card-columns mt-4 w-50")
              if currentUser.followers.length > 0
                - for (let i = 0; i < currentUser.followers.length; i++)
                  div(class="card")
                    img(class="card-img-top" src=currentUser.followers[i].avatar alt="currentUser.followers[i].avatar")
                    div(class="card-body")
                      h5(class="card-title") #{ currentUser.followers[i].username }
                      a(class="btn btn-success" href=`/user/${currentUser.followers[i].id}`) 查看
              else
                p 没有粉丝
